img {
    width: 300px;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.option {
    display: none;
    margin-bottom: 10px;
}

.show {
    display: block;
}
#textoOculto {
    display: none;
}