*{
    background-color:#fff0c9;
    text-decoration: none;
}

.nav-items{
    list-style:none;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    margin: 0 0 50px 0; 
}

.img1{
    transform: translate( 60px);
    position: absolute;
}

.img2{
    transform:translate(400px) ;
    position: absolute;
}

.img3 {
    transform: translate(800px);
    position: absolute;
}

.texto1{
    color: black;
    position: absolute;
    margin-left: 150px;
    margin-top: 180px;
}

.p1{
    color: black;
    position: absolute;
    margin-top: -15px;
    margin-left:50px ;
}

.texto2{
    color: black;
    position: absolute;
    margin-left:385px ;
    margin-top: -50px;
}

.p2{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: -15px;
    margin-left:10px ;
}

.texto3{
    color: black;
    position: absolute;
    margin-left:780px ;
    margin-top: -50px;
}

.p3{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: -15px;
    margin-left:10px ;
}

.img4 {
    transform: translate(-90px);
    position: absolute;
    margin-top: 80px;
}

.img5 {
    transform: translate(250px);
    position: absolute;
    margin-top: 80px;
}

.img6 {
    transform: translate(650px);
    position: absolute;
    margin-top: 80px;
}

.texto4{
    color: black;
    position: absolute;
    margin-left:30px;
    margin-top:260px;
}

.p4{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: -15px;
    margin-left:10px ;
}
.texto5{
    color: black;
    position: absolute;
    margin-left:400px;
    margin-top:250px;
}

.p5{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: -15px;
    margin-left:10px ;
}
.texto6{
    color: black;
    position: absolute;
    margin-left:800px;
    margin-top:250px;
}

.p6{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: -15px;
    margin-left:10px ;
}
.registrarse {
    margin-top: 90%;
    margin-right: 5%;
    margin-bottom: 5px;
    margin-left:15px
}
.nav-items {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 30%;
    padding-right: 30%;
}
.h1 {
    text-align: center;
}
.imagen {
    image-orientation: center;
    margin-left: 150px;
    border-radius: 5px;
  

}